body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #111111;
	color: #ffffff;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.titulo-principal {
	font-size: 2rem;
}

.contenedor-principal {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.inicio,
.juego {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.input-texto {
	padding: 10px;
	width: 150px;
}

.boton {
	padding: 20px 20px;
	cursor: pointer;
}

.info-juego {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
}

.tablero {
	display: flex;
	flex-wrap: wrap;
	width: 220px;
	gap: 10px;
	justify-content: center;
}

.color {
	width: 100px;
	height: 100px;
	border: none;
	opacity: 0.5;
}

.color.activo {
	opacity: 1000;
}

.rojo {
	background-color: red;
}

.verde {
	background-color: green;
}

.azul {
	background-color: blue;
}

.amarillo {
	background-color: yellow;
}

.modal {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
}

.modal-contenido {
	background-color: #222222;
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.footer {
	display: flex;
	justify-content: center;
	padding: 15px;
}

.oculto {
	display: none;
}


.formulario {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 280px;
}

textarea.input-texto {
	resize: none;
	height: 100px;
}